!! ir-black color theme
*.background: #131313
*.foreground: #F2F2F2
*.color0: #4E4E4E
*.color8: #555555
*.color1: #FF6C60
*.color9: #FF0000
*.color2: #A8FF60
*.color10: #00FF00
*.color3: #FFFFB6
*.color11: #FFFF00
*.color4: #96CBFF
*.color12: #0000FF
*.color5: #FF73FF
*.color13: #FF00FF
*.color6: #9DFFFF
*.color14: #00FFFF
*.color7: #EEEEEE
*.color15: #FFFFFF

!! Make urxvt prettier
URxvt*font:             xft:Inconsolata for Powerline:pixelsize=14
URxvt*scrollBar:        false
URxvt*scrollColor:      S_base01
URxvt*title:            terminal
URxvt*termName:         rxvt-unicode-256color
URxvt*visualBell:       true
URxvt*depth:            32
URxvt*background:       rgba:0000/0000/0200/d800

!! font rendering
Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            full

!! Usability improvements
URxvt.visualBall:       true
URxvt.loginShell:       true
URxvt.saveLines:        10000

!! Scroll to the bottom on non-special keypress, but not because new output is ready
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput:  false
